{% extends '_external_base.html' %}
{% load static %}
{% load account %}
{% block title %}Login{% endblock title %}
{% block content %}
<section id="page-content">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            {% if confirmation %}
            {% user_display confirmation.email_address.user as user_display %}
            <p class="text-center">Confirm <a href="mailto:{{ email }}">{{ email }}</a></p>
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">
                        Confirm
                        <div class="stroke"></div>
                    </button>
                </div>
            </form>            
            {% else %}
            {% url 'account_email' as email_url %}            
            <p class="text-center">E-mail confirmation link expired or invalid. Please reconfirm.</p>
            <div class="btn-group">
                <a href="{{ email_url }}" class="btn btn-primary">
                    Reconfirm
                    <div class="stroke"></div>
                </a>
                <a href="{% url 'account_login' %}" class="btn btn-secondary">
                    Back
                    <div class="stroke"></div>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}