<section id="page-content">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <form method="post" id="password-change-form">
                {% csrf_token %}

                <div class="form-field-wrapper">
                    {{ form.oldpassword }}
                    {{ form.oldpassword.errors }}
                </div>
                <div class="form-field-wrapper">
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="form-field-wrapper">
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>

                <div class="btn-group">
                    <a hx-get="{% url 'view_profile' %}" hx-target="#page-content" hx-swap="outerhtml" class="btn btn-secondary">
                        Back
                        <div class="stroke"></div>
                    </a>
                    <button type="submit" hx-post="{% url 'account_change_password' %}" hx-target="#page-content" hx-swap="outerhtml" class="btn btn-primary">
                        Change
                        <div class="stroke"></div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

