{% extends '_base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}
<section class="entry">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-header">Change Password</h2>
        <div class="row">
            <div class="col-lg-6 col-xl-4">
                <div class="form-field-wrapper">
                    {{ form.oldpassword }}
                    {{ form.oldpassword.errors }}
                </div>
                <div class="form-field-wrapper">
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="form-field-wrapper">
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
            </div>
        </div>
        
        <div class="form-group mt-4">
            <a href="{% url 'view_profile' %}" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-primary">Change</button>
        </div>
    </form>
</section>
{% endblock content %}