{% extends '_external_base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<section id="page-content">
    <div class="row">
        <div class="col-lg-5 col-xl-4 header-col">
            <div class="listed-content accented">
                login
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">            
            <form method="post" id="login-form">
                {% csrf_token %}
                
                <div class="form-group">                    
                    <div class="form-field-wrapper">
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                </div>

                <div class="form-group no-margin">
                    <div class="form-field-wrapper">
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                </div>

                {% if form.errors %}
                <div class="form-errors-list">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                
                <div class="btn-group">
                    <a href="{% url 'password_reset' %}" class="btn btn-secondary">
                        reset password
                    </a>
                    <button type="submit" class="btn btn-primary">
                        login
                    </button>

                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}