{% extends '_external_base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<section id="page-content">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <form id="id-account-form" method="post">
                {% csrf_token %}

                <div class="form-field-wrapper">
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="form-field-wrapper">
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
                {% if form.errors %}
                <div class="form-errors-list">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                <div>
                    <a hx-get="{% url 'password_reset' %}" class="text-small" hx-target="#page-content" hx-swap="outerhtml">
                        Forgotten Password
                    </a>
                </div>
                
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">
                        Login
                    </button>
                    <a href="{% url 'signup' %}" class="btn btn-secondary">
                        Signup
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}