<section id="page-content">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <form method="post" action="{% url 'accounts_logout' %}">
                {% csrf_token %}
                <p class="text-center">Confirm Logout</p>
                <div class="btn-group">
                    <a hx-get="{% url 'view_profile' %}" hx-target="#page-content" hx-swap="outerhtml" class="btn btn-secondary">
                        Back
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Logout
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>    