{% extends '_base.html' %}
{% block title %}Password Changed{% endblock title %}
{% block content %}
<section id="page-content">

    <div class="row">
        <div class="col-lg-5 col-xl-4 header-col">
            <div class="listed-content accented">
                Password Changed
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">
            <div class="listed-content faded">
                <a href="{% url 'view_profile' %}" class="btn btn-secondary">
                    Back 
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}





