<section id="page-content">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <form method="post" id="password-change-form">
                {% csrf_token %}

                <div class="form-field-wrapper">
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>
                <div class="form-field-wrapper">
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </div>
                <div class="form-field-wrapper">
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </div>

                <div class="btn-group">
                    <a hx-get="{% url 'view_profile' %}" hx-target="#page-content" hx-swap="outerhtml" class="btn btn-secondary">
                        Back 
                    </a>
                    <button type="submit" hx-post="{% url 'password_change' %}" hx-target="#page-content" hx-swap="outerhtml" class="btn btn-primary">
                        Change
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

