<section id="page-content">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <form id="account-form" method="post">
                {% csrf_token %}
                <div class="form-field-wrapper">
                    {{ form.email }}
                </div>
                <div class="btn-group">
                    <a href="{% url 'login' %}" class="btn btn-secondary">
                        Back
                        <div class="stroke"></div>
                    </a>
                    <button hx-post="{% url 'password_reset' %}" class="btn btn-primary" hx-target="#page-content" hx-swap="outerhtml">
                        Reset
                        <div class="stroke"></div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>