{% extends '_base.html' %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<section id="page-content">
    <div class="row">
        <div class="col-lg-5 col-xl-4 header-col">
            <div class="listed-content accented">
                Change Password
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">
            <form method="post" action="{% url 'password_change' %}" id="change-password-form">
                {% csrf_token %}
        
                <div class="form-field-wrapper">
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>
                <div class="form-field-wrapper">
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </div>
                <div class="form-field-wrapper">
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </div>
        
                <div class="btn-group">
                    <a href="{% url 'view_profile' %}" class="btn btn-secondary">
                        Back 
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Change
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}

