<!-- Main Brand & Nav -->
<nav id=main-nav>
    <div id="brand-wrapper">
        <a href="{% url 'login' %}">
            <h1 id="main-header">Calliope</h1>
        </a>
        <div id="brand-logo"></div>
        <ul id="header-menu">
            <li>
                <a href="{% url 'login' %}">
                    Log-In
                </a>
            </li>
            <li>
                <a href="#" class="disabled">
                    Features
                </a>
            </li>
            <li>
                <a href="#" class="disabled">
                    Pricing
                </a>
            </li>
        </ul>
    </div>
</nav>