<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confirm Email Change</title>
    </head>
    <body>
        <p>Hello,</p>
        <p>
            You're receiving this email because you requested the email on your account to be updated. To do so, please 
            click <a href="{{ confirm_url }}">here.</a>
        </p>
        <p>
            If you didn't request this change, you can safely ignore this email.
        </p>
        <p>
            Thanks, Calliope.
        </p>
        
    </body>
</html>