{% extends '_base.html' %}
{% block title %}Profile{% endblock title %}
{% block content %}
<section id="page-content">
    <div class="row">
        <div class="col-lg-5 col-xl-4 header-col">
            <div class="listed-content accented">
                profile
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">
            <a href="{% url 'update_profile' %}">
                <div class="listed-content faded">
                    update profile
                </div> 
            </a>
            <a href="{% url 'update_email' %}">
                <div class="listed-content faded">
                    update email address
                </div> 
            </a>
            <a href="{% url 'password_change' %}">
                <div class="listed-content faded">
                    change password
                </div> 
            </a>
            <a href="{% url 'logout' %}">
                <div class="listed-content faded">
                    logout
                </div> 
            </a>
        </div>
    </div>
</section>
{% endblock content %}