{% extends '_base.html' %}
{% block title %}Profile{% endblock title %}
{% block content %}
<section id="page-content">
    <a href="{% url 'update_profile' %}">
        <div class="listed-content">
            <p class="listed-content-created">Update profile</p>
        </div> 
    </a>
    <a href="{% url 'update_email' %}">
        <div class="listed-content">
            <p class="entry-created">Update email address</p>
        </div> 
    </a>
    <a href="{% url 'password_change' %}">
        <div class="listed-content">
            <p class="entry-created">Change password</p>
        </div> 
    </a>
    <a href="{% url 'logout' %}">
        <div class="listed-content">
            <p class="entry-created">Logout</p>
        </div> 
    </a>
</section>
{% endblock content %}