<section id="page-content">
    <a hx-get="{% url 'update_profile' %}" hx-target="#page-content" hx-swap="outerhtml">
        <div class="entry" id="id_update_password">
            <p class="entry-created">Update profile</p>
        </div> 
    </a>
    <a hx-get="{% url 'password_change' %}" hx-target="#page-content" hx-swap="outerhtml">
        <div class="entry" id="id_update_password">
            <p class="entry-created">Change password</p>
        </div> 
    </a>
    <a href="{% url 'logout' %}">
        <div class="entry" id="id_update_password">
            <p class="entry-created">Logout</p>
        </div> 
    </a>
</section>