{% extends '_base.html' %}
{% block title %}Update Email{% endblock title %}
{% block content %}
<section id="page-content">
    <form method="post" action="{% url 'update_email' %}" id="update-email-form">
        {% csrf_token %}

        <div class="form-field-wrapper">
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-field-wrapper">
            {{ form.email2 }}
            {{ form.email2.errors }}
        </div>

        <div class="btn-group">
            <a href="{% url 'view_profile' %}" class="btn btn-secondary">
                Back
            </a>
            <button type="submit" class="btn btn-primary">
                Update
            </button>
        </div>
    </form>
</section>
{% endblock content %}