{% extends '_base.html' %}
{% block title %}Update Profile{% endblock title %}
{% block content %}
<section id="page-content">
    <div class="row">
        <div class="col-lg-5 col-xl-4 header-col">
            <div class="listed-content accented">
                Update Profile
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">
            <form method="post" action="{% url 'update_profile' %}" id="update-profile-form">
                {% csrf_token %}

                <div class="form-field-wrapper">
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                </div>
                <div class="form-field-wrapper">
                    {{ form.last_name }}
                    {{ form.last_name.errors }}
                </div>

                <div class="btn-group">
                    <a href="{% url 'view_profile' %}" class="btn btn-secondary">
                        Back
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}