{% extends '_external_base.html' %}
{% load static %}
{% block title %}Welcome{% endblock title %}
{% block content %}
<section id="page-content">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <p>
                Lorem ipsum dolor sit amet, consectetur <span class="text-accented">adipiscing elit.</span> Sed volutpat mauris ut massa lacinia feugiat.
                Cras pharetra est at lectus molestie, at aliquam ipsum dapibus. Nunc sed turpis ex. Nulla eu ex
                consequat, molestie nunc vitae, posuere leo. Donec sit amet fringilla dui, id feugiat lectus. Sed luctus
                enim quis sapien tristique tempor. Etiam mattis, nisl at hendrerit sollicitudin, nunc libero mollis
                diam, eu venenatis ipsum tortor sit amet sapien. Donec tincidunt mi sapien, pharetra sodales nisl mattis
                sollicitudin. <span class="text-accented">In hac habitasse platea dictumst.</span> Aliquam feugiat libero sem, ut pellentesque elit
                pharetra non.
            </p>
            <p>
                <span class="text-accented">Nullam laoreet enim vel orci fringilla commodo.</span> Aenean congue nunc quis accumsan dictum. Morbi et
                dapibus lectus. Etiam id purus tellus. Vestibulum fringilla, nunc non maximus ultrices, tortor odio
                molestie velit, ornare posuere nibh est ullamcorper arcu. Integer semper eleifend mauris, ut semper dui
                tincidunt ac. Duis id ex vel est semper hendrerit id venenatis leo. Quisque vel ligula volutpat, feugiat
                felis a, tempor eros. Cras gravida est sed lacus iaculis ultrices. Vestibulum interdum molestie nulla,
                vel ullamcorper velit porta quis.
            </p>
        </div>
    </div>
</section>
{% endblock content %}