{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <title>Calliope | {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container" id="main-container">
            <!-- Main Brand & Nav -->
            <nav id=main-nav>
                <div id="brand-wrapper">
                    <a href="{% url 'entries:home' %}">
                        <h1 id="main-header">Calliope</h1>
                    </a>
                    <div id="brand-logo"></div>
                    <ul id="header-menu">
                        <li>
                            <a hx-get="{% url 'entries:entry_list' %}" hx-target="#page-content" hx-swap="outerhtml">
                                Read
                            </a>
                        </li>
                        <li>
                            <a hx-get="{% url 'entries:entry_new' %}" hx-target="#page-content" hx-swap="outerhtml">
                                Write
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'view_profile' %}">
                                Profile
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <section id="page-content">
                {% block content %}
                {% endblock content %}
            </section>
        </div>
        <script src="{% static 'js/htmx.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>