{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap Grid CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

        <title>Calliope | {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="main-container" class="container">

            <!-- Main Brand & Nav -->
            <nav id=main-nav>
                <div id="main-header">
                    <a href="{% url 'entries_entry_list' %}">
                        <h1>
                            calliope
                        </h1>
                    </a>
                </div>
                <ul id="nav-links">
                    <li class="nav-link active">
                        <a href="{% url 'login' %}">
                            login
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'signup' %}">
                            register
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#" class="disabled">
                            features
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#" class="disabled">
                            pricing
                        </a>
                    </li>
                </ul>
            </nav>

            {% block content %}
            {% endblock content %}
        </div>
        <script src="{% static 'js/htmx.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>