/* Style Reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


/* Global */
:root {
    color-scheme: dark;
    --background: #242424;
    --color: #dedede;
    --primary: #ffd900;
    --secondary: #737373;
    --faded: #535353;
    --danger: #c44343;
}

html, body {
    height: 100vh;
}

body {
    background: var(--background);
    color: var(--color);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.8px;
    font-weight: 300;
    animation: elementFadeInAnimation ease 750ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-bottom: 50px;
}

@keyframes elementFadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Typography */

p {
    margin-bottom: 20px;
}

.text-small {
    font-size: 0.75rem;
}

.text-accented {
    color: var(--primary);
}

.text-faded {
    color: var(--faded);
}

.text-center {
    text-align: center;
}

.text-danger {
    color: var(--danger) !important;
}


/* Links */

a {
    color: var(--color);
    text-decoration: none;
    cursor: pointer;
    transition: 750ms;
}

a:hover {
    color: var(--primary);
}

a.disabled {
    opacity: 25%;
}

a.disabled:hover {
    opacity: 50%;
    color: var(--color);
    cursor: default;
}

/* Pagination */

.pagination-wrapper {
    text-align: center;
    margin: 75px 0;
    padding: 75px 0;
}

.pagination-control {
    font-size: 14px;
    color: var(--secondary);
    padding: 0 30px;
}

.pagination-control.disabled {
    opacity: 50%;
}

.pagination-control.disabled:hover {
    color: var(--secondary);
    transition: none;
}

/* Header & Brand */

#main-nav {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 70px 0 100px 0;
}

#main-header {
    margin-right: 150px;
}

#main-header h1 {
    font-size: 16px;
    font-weight: 400;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
}

#nav-links li.nav-link {
    margin: 0 50px 0 0;
    padding-bottom: 10px;
}

#nav-links li.nav-link.active {
    border-bottom: 1px solid var(--primary);
}


/* Buttons */

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 20px 0;
}

.btn {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    color: var(--color);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.8px;
    font-weight: 300;
    transition: 750ms;
    margin-right: 30px;
    text-transform: lowercase;  
}

.btn-primary {
    color: var(--color);
}

.btn-secondary, .btn-danger {
    color: var(--secondary);
}

.btn:hover {
    color: var(--primary);
    transition: 750ms;
}

.btn-danger:hover {
    color: var(--danger);
}

.btn-hidden {
    display: none;
}

/* Forms */

.form-group, .form-field-wrapper {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-field-wrapper {
    margin-bottom: 15px;
}

.form-group.no-margin {
    margin-bottom: 0;
}

input, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 14;
    font-weight: 300;    
}

input {
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0 0 15px 0;
    font-size: 14px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--color);
    background: none;
    border: none;
    border-bottom: 1px solid var(--faded);
    transition: 750ms;
}

input:focus {
    border-bottom: 1px solid var(--primary);
    outline: none;
    box-shadow: none;
    transition: 750ms;
}

textarea {
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0 0 15px 0;
    font-size: 14px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--color);
    background: none;
    border: none;
    border-bottom: 1px solid var(--faded);
    resize: none;
    overflow: hidden;
    transition: 750ms;    
}

textarea:focus {
    border-bottom: 1px solid var(--primary);
    outline: none;
    box-shadow: none;
    transition: 750ms;
}

ul.errorlist {
    color: var(--danger);
    padding: 0;
}

ul.errorlist li {
    list-style: none;
}

::-webkit-input-placeholder { /* Edge */
    text-transform: lowercase;
}

:-ms-input-placeholder { /* Internet Explorer */
    text-transform: lowercase;
}

::placeholder {
    text-transform: lowercase;
}

/* General Layout */

.header-col {
    padding-right: 50px;
}

.listed-content {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--faded);
}

.listed-content.no-padding {
    padding: 0;
}

a > .listed-content {
    transition: border 750ms;
}

a > .listed-content:hover {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

.listed-content.accented {
    border-bottom: 1px solid var(--primary);
}

.listed-content.faded {
    border-bottom: 1px solid var(--faded);
    color: var(--faded);
}

.listed-content.ai-prompt {
    font-size: 12px;
    animation: elementFadeInAnimation ease 750ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;    
}