{% extends '_base.html' %}
{% block title %}Delete Entry{% endblock title %}
{% block content %}
<section id="page-content">
    <form method="post" action="{% url 'entries_delete' entry.pk %}" id="delete-entry-form">
        {% csrf_token %}
        <div class="form-field-wrapper text-center">
            Are you sure you wish to delete this entry?
        </div>
        <div class="btn-group">
            <a href="{% url 'entry_detail' entry.pk %}" class="btn btn-secondary">
                Back
            </a>
            <button type="submit" class="btn btn-primary">
                Delete
            </button>
        </div>
    </form>
</section>
{% endblock content %}