{% extends '_base.html' %}
{% block title %}Entry Limit Reached{% endblock title %}
{% block content %}
<section id="page-content">
    <div class="form-field-wrapper text-center">
        You have reached your entry limit for this month.
    </div>
    <div class="btn-group">
        <a href="{% url 'entries_entry_list' %}" class="btn btn-secondary">
            Back
        </a>
        <a href="" class="btn btn-primary">
            Upgrade
        </a>
    </div>
</section>
{% endblock content %}