<section id="page-content">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            
            <div class="entry">
                <a hx-get="{% url 'entries_entry_new' %}" hx-target="#page-content" hx-swap="outerhtml" class="btn btn-primary">
                    Create Entry
                    <div class="stroke"></div>
                </a>
            </div>
            <section id="entry-list">
                {% for entry in entry_list %}  
                <a hx-get="{% url 'entries_entry_detail' entry.pk %}" hx-target="#page-content" hx-swap="outerhtml">
                    <div class="entry" id="id_{{ entry.id }}">
                        <p class="entry-created">{{ entry.created }}</p>
                    </div>   
                </a>
                {% endfor %}

                <!-- Pagination -->
                <div class="row">
                    <div class="col-lg-6 mx-auto pagination-wrapper">
                        
                        {% if entry_list.has_previous %}
                        <a href="?page={{ entry_list.previous_page_number }}" class="pagination-control">
                            Prev
                        </a>
                        {% else %}
                        <a class="pagination-control disabled" aria-disabled="true">
                            Prev
                        </a>
                        {% endif %}

                        {% if entry_list.has_next %}
                        <a href="?page={{ entry_list.next_page_number }}" class="pagination-control">
                            Next
                        </a>
                        {% else %}
                        <a class="pagination-control disabled" aria-disabled="true">
                            Next
                        </a>
                        {% endif %}

                    </div>
                </div>
            </section>
        </div>
    </div>
</section>