{% extends '_base.html' %}
{% load static %}
{% block title %}Create Entry{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data" class="entry-create-update-form">
    {% csrf_token %}

    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="form-field-wrapper">
                {{ form.body }}
                {{ form.body.errors }}
            </div>
        </div>
    </div>

    <div class="btn-group">
        <a href="{% url 'entries:entry_list' %}" class="btn btn-secondary">
            Back
            <div class="stroke"></div>
        </a>
        <button type="submit" class="btn btn-primary">
            Create
            <div class="stroke"></div>
        </button>
    </div>
</form>
{% endblock content %}